---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Integrations from '../components/Integrations.astro';
import Projects from '../components/Projects.astro';
// import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Portfolio - Valery Figueroa" description="Portfolio personal de Valery Figueroa, desarrollador Full Stack">
	<Header />
	<main>
		<Hero />
		<About />
		<Integrations />
		<Projects />
		<!-- <Skills /> -->
		<Contact />
	</main>
</Layout>

<style>
	main {
		overflow-x: hidden;
	}
</style>
